@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');



:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: url(/images/Background/desktop/bg-pattern-top-desktop.svg),
     url(/images/Background/desktop/bg-pattern-bottom-desktop.svg) right;
    background-repeat: no-repeat;
    font-family: 'League Spartan';
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_container{
border: 1px  solid crimson;
max-width: 80%;
}
.intro{
  display: flex;
justify-content: space-between;
align-items: center;
}
.intro_text{
  width: 50%;
  padding-right: 250px;
}
.intro_text h1{
color: var(--Very-Dark-Magenta);
font-size: 3rem;
margin-bottom: 3rem;
}
.intro_text p{
  color: var(--Dark-Grayish-Magenta);
  font-weight: 500;
}
#testimonies{
  display: flex; 
   gap: 2rem;

}
.testimonial{
  width: calc(100%/3);
  background: var(--Very-Dark-Magenta);
  border-radius: 8px;
  color: var(--White);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
